<h1>Add photo for: <%= @album.title %></h1>

<%= simple_form_for([@album, @photo]) do |f| %>

  <%= f.input :caption, placeholder: 'The Name' %>
  <%= f.input :description, as: :text, hint: 'At least 10 words' %>
  <%= f.association :categories, as: :check_boxes %>
  <%= f.input :photo %>
  <%= f.input :rating, collection: 1..10, include_blank: false %>
  <%= f.button :submit %>

<% end %>
